/* 
     ______ __                 __        
    |      |  |.-----.--.--.--|  |.--.--.
    |   ---|  ||  _  |  |  |  _  ||  |  |
    |______|__||_____|_____|_____||___  |
    Version 1.0 - By SkyX [ID FR] |_____|©
    2022-2023
    
*/

* {
    margin: 0;
    padding: 0;
    border: 0;   
}

@media only screen and (max-width: 633px) {
    html body #forescast-hours table {
        margin-top: 115px;
    }
}

@media only screen and (max-width: 430px) {
    html body #forescast-hours .forescast_popup .content .item-block .item {
        margin: 0px;
    }
}

@media only screen and (max-width: 570px) {
    html body #forescast-hours .forescast_popup .loader-img-popup {
        margin-left: 46%;
    }
}