/* 
     ______ __                 __        
    |      |  |.-----.--.--.--|  |.--.--.
    |   ---|  ||  _  |  |  |  _  ||  |  |
    |______|__||_____|_____|_____||___  |
    Version 1.0 - By SkyX [ID FR] |_____|©
    2022-2023

*/

/* 📌 Fonts Import with Google Fonts : 📌 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
    font-size: normal;
    font-weight: normal;
}

body {
    background-color: #13232e;
    color: white;
}

/* 📜 Header's style : 📜 */
html #header {
    width: 100%;
    height: 90px;
    /* box-shadow: 0px 0px 30px rgb(227, 227, 227); */
}

html #header .app_logo {
    width: 55px;
    float: left;
    margin-left: 20px;
    margin-top: 15px;
}

html #header .app_logo:hover ~ .logo_info {
	opacity: 1;
    transition: opacity 0.4s ease-out; 
    -webkit-transition: opacity 0.4s ease-out;  
    -moz-transition: opacity 0.4s ease-in-out;   
}

html #header .logo_info {
    background-color: #173e56;
    position: absolute;
    margin-top: 80px;
    padding: 15px;
    border-radius: 10px;
    margin-left: 30px;
    z-index: 50;
    font-weight: 200;
    opacity: 0;
    transition: all 0.5s;
    color: white;
    width: 300px;
}

html #header .github-button {
    width: 180px;
    background: #0E7EEC;
    padding: 5px;
    height: 40px;
    border-radius: 20px;
    color: white;
    margin-top: 23px;
    float: right;
    margin-right: 20px;
}

html #header .github-button:hover, .app_logo:hover {
    transition: all 0.3s;
    transform: scale(1.1);
    cursor: pointer;
}

html #header .github-button p {
    float: left;
    margin-left: 20px;
    margin-top: 4px;
    font-size: 15px;
}

html #header .github-button .github_logo {
    width: 27px;
    float: right;
    margin-right: 20px;
    margin-top: -3px;
}
/* 📜 Enf of Header's style 📜 */

/* 📣 Content_page section's style : 📣 */
html body .hero_components {
    margin-top: 50px;
    padding: 30px;
    text-align: center;
    height: 400px;
}

html body .hero_components .intro-text {
    font-weight: 200;
    font-size: 22px;
}

html body .hero_components #celcus {
    font-size: 50px;
    margin-bottom: 110px;
    margin-top: -180px;
    margin-left: 170px;
    font-weight: 800;
}

html body .hero_components .localisation-indication-text, #city-name {
    font-weight: 300;
    font-size: 14px;
}

html body .hero_components .localisation-indication-text .localisation_icon {
    width: 20px;
    margin-left: -305px;
    margin-bottom: -21px;
}

html body .hero_components #date-text { text-transform: capitalize; }

html body .hero_components #temp {
    font-size: 180px;
    font-weight: 800;
    margin-left: -10px;
}

html body .hero_components .more-infos {
    font-style: normal;
    text-decoration: none;
    color: #89ccf9;
    font-weight: 400;
}

html body .hero_components .more-infos .external-link-icon {
    width: 13px;
}
/* 📣 End of Content_page section's style 📣 */

/* 🔍 Loading wait function's style : 🔍 */
html body #loader {
    text-align: center;
    margin-top: 15%;
    margin-left: -3%;
}

html body #loader .loading_icon {
    margin-bottom: -45px;
    width: 30px;
    margin-left: -70px;
}

html body #loader .logo_app { width: 100px; }
html body #loader footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

html body #loader footer p {
    font-size: 14px;
}
/* 🔍 End of Loading wait function's style 🔍 */